footer{
   padding-top: 10rem;
   padding-bottom: 1rem;
   @include breakpoint-down('small'){
   }
   p{
      color: $gray;
      &:hover{
         color: $white;
      }
      
   }

   .footer-img{
      margin-top: 1.2rem;
      margin-right: 1rem;
      width: 1.2rem;
      height: 1.2rem;
      object-fit: contain;

   
   }
   .footer-m{
      display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-top: 3rem;
   @include breakpoint-down('small'){
      flex-direction: column;
      justify-content: center;
   }
   }
   .footer-col{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 15%;
      @include breakpoint-down('small'){
         margin-bottom: 1.3rem;
         width: 100%;
         justify-content: center;
      }


      &-social{
         margin-top: 1rem;
         width: 6rem;
        
         flex-direction: row;
         justify-content: space-around;
         color: $gray;

         i:hover{
            color: $white;
         }
      }
   }

}