footer{
   padding-top: 10rem;
   padding-bottom: 1rem;
   .footer-m{
      display: flex;
   flex-direction: row;
   justify-content: space-between;
   }
   .footer-col{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 15%;


      &-social{
      }
   }

}