.hero{
    margin: 0 auto;
    text-align: center;
    height: 100vh;
    img{
        width: 35rem;
    }
    button{
        margin-top: 2rem;
        width: 20%;
        padding: 1rem 1rem;
    }
}