nav{
    display:flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    font-weight: 700;
    a{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    @include breakpoint-down('small'){
        height: auto;
    }
    
}
#nav-logo{
    @include breakpoint-down('small'){
    width: 7rem;
    object-fit: contain;
    }
}