.section2 {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  text-align: center;
  &-item {
    margin-bottom: 4rem;
    margin-top: 4rem;
    padding: 1rem 1rem 1rem 1rem;
    
  }

  &_col_1 {
    margin: 0 auto;
    width: 50%;
  }
  &_col_2 {
    margin: 0 auto;
    width: 50%;
  }
}
