.testimonial {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
  h3,
  h4 {
    padding: 0rem 0rem;
    margin: 0rem 0rem;
  }
  h3 {
    font-size: 1.1rem;
  }
  h4 {
    font-size: 0.6rem;
    color: $gray;
  }
  &-item {
    background-color: $darkBlueTestimonial;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    &-profile {
      display: flex;
      img {
        
        margin-right: 0.6rem;
        border-radius: 100rem;
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }
}
