.testimonial {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 6rem;
  margin-right: 2rem;
  margin-left: 2rem;
  @include breakpoint-down("medium"){
    margin-top: 6rem;
    margin-left: 1rem;
    margin-right: 1rem;
    flex-direction: column;
  }
  @include breakpoint-down('small'){
    flex-direction: column;
    margin-top: 0rem;
    margin-bottom: 4rem;

  }
  h3,
  h4 {
    padding: 0rem 0rem;
    margin: 0rem 0rem;
  }
  h3 {
    font-size: 1.1rem;
    @include breakpoint-down('medium'){
      font-size: 0.9rem;
    }
  }
  h4 {
    font-size: 0.6rem;
    @include breakpoint-down("medium"){
      font-size: 0.5rem;
    }
    color: $gray;
  }
  p{
  
    @include breakpoint-down('small'){
      width: 100%;
    }
  }
  &-item {
    background-color: $darkBlueTestimonial;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    @include breakpoint-down('medium'){
      margin-top: 2rem;
      padding: .3rem .3rem;

    }
    &-profile {
      display: flex;
      img {
        
        margin-right: 0.6rem;
        border-radius: 100rem;
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }
}
