h1,
h2,
h3,
h4,
p,
a,
button {
  font-family: "Open Sans", sans-serif;
  color: white;
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

h1 {
  font-size: 2.1875rem;
}

@media (max-width: 39.9375em) {
  h1 {
    font-size: 1.7rem;
  }
}

@media (max-width: 39.9375em) {
  p {
    font-size: .9rem;
  }
}

body {
  overflow-x: hidden;
}

button {
  border: none;
  border-radius: 5rem;
  padding: 0.3rem 0.3rem;
  background-color: #65e2d9;
  color: white;
}

@media (max-width: 39.9375em) {
  button {
    padding: .2rem .2rem;
    width: 90%;
  }
}

button:focus {
  border: none;
  outline: none;
}

button:hover {
  background-color: #90eae4;
}

a {
  text-decoration: none;
  -webkit-transition: ease-in;
  transition: ease-in;
  color: #d9d9d9;
}

@media (max-width: 39.9375em) {
  a {
    font-size: 1rem;
  }
}

a:hover {
  color: white;
}

.wrapper {
  background-color: #1c2431;
  margin-right: 4.8125rem;
  margin-left: 4.8125rem;
  margin-top: 4.375rem;
}

@media (max-width: 39.9375em) {
  .wrapper {
    margin-right: 1.1rem;
    margin-left: 1.1rem;
    margin-top: 2rem;
  }
}

.fullpage-wrapper {
  height: 100vh;
}

.mostly-fullpage-wrapper {
  height: 90vh;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#bg-curvy-desktop {
  z-index: -1;
  position: absolute;
  right: 0rem;
  margin: auto 0;
  width: 120vw;
}

.dark-background-wrapper {
  position: absolute;
  left: 0;
  z-index: -1;
  margin-top: 10rem;
  width: 100rem;
  background-color: #181f2a;
  height: 250vh;
}

@media (max-width: 39.9375em) {
  .dark-background-wrapper {
    height: 200vh;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3rem;
  font-weight: 700;
}

nav a {
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (max-width: 39.9375em) {
  nav {
    height: auto;
  }
}

@media (max-width: 39.9375em) {
  #nav-logo {
    width: 7rem;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.hero {
  margin: 0 auto;
  text-align: center;
  height: 100vh;
}

@media (max-width: 39.9375em) {
  .hero {
    height: 80vh;
  }
}

.hero img {
  width: 35rem;
}

@media (max-width: 39.9375em) {
  .hero img {
    width: 20rem;
  }
}

.hero button {
  margin-top: 2rem;
  width: 20%;
  padding: 1rem 1rem;
}

@media (max-width: 39.9375em) {
  .hero button {
    width: 60%;
  }
}

.section2 {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  text-align: center;
}

@media (max-width: 39.9375em) {
  .section2 {
    margin-top: 5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    margin-bottom: 5rem;
  }
}

@media (max-width: 39.9375em) {
  .section2 img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 4rem;
  }
}

.section2-item {
  margin-bottom: 4rem;
  margin-top: 4rem;
  padding: 1rem 1rem 1rem 1rem;
}

@media (max-width: 39.9375em) {
  .section2-item {
    margin-top: 1rem;
    margin: bottom .6rem;
    padding: .2rem .2rem .2rem .2rem;
  }
}

.section2_col_1 {
  margin: 0 auto;
  width: 50%;
}

.section2_col_2 {
  margin: 0 auto;
  width: 50%;
}

.section3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 39.9375em) {
  .section3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 5rem;
  }
}

.section3-arrow-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 11rem;
  border-bottom: 1px solid #65e2d9;
  color: #65e2d9;
}

@media (max-width: 39.9375em) {
  .section3-arrow-link {
    font-size: 1rem;
    width: 12rem;
  }
}

.section3-arrow-link:hover {
  color: white;
  border-bottom: 1px solid white;
}

.section3-arrow-link:hover a {
  color: white;
}

.section3-arrow-link img {
  margin-left: 0.2rem;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 39.9375em) {
  .section3-arrow-link img {
    width: 2rem;
  }
}

.section3 a {
  color: #65e2d9;
}

.section3_text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 6rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

@media (max-width: 39.9375em) {
  .testimonial {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 4rem;
  }
}

.testimonial h3,
.testimonial h4 {
  padding: 0rem 0rem;
  margin: 0rem 0rem;
}

.testimonial h3 {
  font-size: 1.1rem;
}

.testimonial h4 {
  font-size: 0.6rem;
  color: #d9d9d9;
}

@media (max-width: 39.9375em) {
  .testimonial p {
    width: 100%;
  }
}

.testimonial-item {
  background-color: #202a3c;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
}

@media (max-width: 39.9375em) {
  .testimonial-item {
    margin-top: 2rem;
  }
}

.testimonial-item-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonial-item-profile img {
  margin-right: 0.6rem;
  border-radius: 100rem;
  width: 2.5rem;
  height: 2.5rem;
}

.section4 {
  position: relative;
  top: 7rem;
  background-color: #202a3c;
  border-radius: .5rem;
  padding-top: .6rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 15vw;
  margin-right: 15vw;
  text-align: center;
}

@media (max-width: 39.9375em) {
  .section4 {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

.section4_inputs {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 8%;
  margin-left: 8%;
}

@media (max-width: 39.9375em) {
  .section4_inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section4 input {
  border-radius: 5rem;
  padding: .3rem .3rem;
  margin-right: 1rem;
  width: 80%;
}

@media (max-width: 39.9375em) {
  .section4 input {
    width: 60%;
    margin-right: 0rem;
    margin-bottom: 1rem;
    padding: .8rem .5rem;
  }
}

.section4 button {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
}

.section4 button:hover {
  background-color: #90eae4;
}

@media (max-width: 39.9375em) {
  .section4 button {
    width: 60%;
    padding: 1rem 1rem;
  }
}

.section4 p {
  color: #d9d9d9;
}

footer {
  padding-top: 10rem;
  padding-bottom: 1rem;
}

footer p {
  color: #d9d9d9;
}

footer p:hover {
  color: white;
}

footer .footer-img {
  margin-top: 1.2rem;
  margin-right: 1rem;
  width: 1.2rem;
  height: 1.2rem;
  -o-object-fit: contain;
     object-fit: contain;
}

footer .footer-m {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3rem;
}

@media (max-width: 39.9375em) {
  footer .footer-m {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer .footer-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 15%;
}

@media (max-width: 39.9375em) {
  footer .footer-col {
    margin-bottom: 1.3rem;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer .footer-col-social {
  margin-top: 1rem;
  width: 6rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #d9d9d9;
}

footer .footer-col-social i:hover {
  color: white;
}
/*# sourceMappingURL=style.css.map */